UploadService/CopyFileService/Service References/UploadWeb/Upload1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileBybyte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileByte" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="isFirst" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isLast" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileBybyteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileBybyteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startPosition" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="chunkSize" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelelteFileByFileName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelelteFileByFileNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="long" type="s:long" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileBybyteSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileBybyte" />
  </wsdl:message>
  <wsdl:message name="UploadFileBybyteSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileBybyteResponse" />
  </wsdl:message>
  <wsdl:message name="DownFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownFile" />
  </wsdl:message>
  <wsdl:message name="DownFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownFileResponse" />
  </wsdl:message>
  <wsdl:message name="DelelteFileByFileNameSoapIn">
    <wsdl:part name="parameters" element="tns:DelelteFileByFileName" />
  </wsdl:message>
  <wsdl:message name="DelelteFileByFileNameSoapOut">
    <wsdl:part name="parameters" element="tns:DelelteFileByFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeHttpGetIn">
    <wsdl:part name="sourceFile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeHttpGetOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="UploadFileBybyteHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileByte" type="s1:StringArray" />
    <wsdl:part name="isFirst" type="s:string" />
    <wsdl:part name="isLast" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileBybyteHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DownFileHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="startPosition" type="s:string" />
    <wsdl:part name="chunkSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownFileHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DelelteFileByFileNameHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelelteFileByFileNameHttpGetOut" />
  <wsdl:message name="GetFileSizeHttpPostIn">
    <wsdl:part name="sourceFile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileSizeHttpPostOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="UploadFileBybyteHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="fileByte" type="s1:StringArray" />
    <wsdl:part name="isFirst" type="s:string" />
    <wsdl:part name="isLast" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileBybyteHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DownFileHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="startPosition" type="s:string" />
    <wsdl:part name="chunkSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownFileHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="DelelteFileByFileNameHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelelteFileByFileNameHttpPostOut" />
  <wsdl:portType name="UploadSoap">
    <wsdl:operation name="GetFileSize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取文件大小</wsdl:documentation>
      <wsdl:input message="tns:GetFileSizeSoapIn" />
      <wsdl:output message="tns:GetFileSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传文件</wsdl:documentation>
      <wsdl:input message="tns:UploadFileBybyteSoapIn" />
      <wsdl:output message="tns:UploadFileBybyteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">下载文件</wsdl:documentation>
      <wsdl:input message="tns:DownFileSoapIn" />
      <wsdl:output message="tns:DownFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除服务器文件</wsdl:documentation>
      <wsdl:input message="tns:DelelteFileByFileNameSoapIn" />
      <wsdl:output message="tns:DelelteFileByFileNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UploadHttpGet">
    <wsdl:operation name="GetFileSize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取文件大小</wsdl:documentation>
      <wsdl:input message="tns:GetFileSizeHttpGetIn" />
      <wsdl:output message="tns:GetFileSizeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传文件</wsdl:documentation>
      <wsdl:input message="tns:UploadFileBybyteHttpGetIn" />
      <wsdl:output message="tns:UploadFileBybyteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">下载文件</wsdl:documentation>
      <wsdl:input message="tns:DownFileHttpGetIn" />
      <wsdl:output message="tns:DownFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除服务器文件</wsdl:documentation>
      <wsdl:input message="tns:DelelteFileByFileNameHttpGetIn" />
      <wsdl:output message="tns:DelelteFileByFileNameHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UploadHttpPost">
    <wsdl:operation name="GetFileSize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取文件大小</wsdl:documentation>
      <wsdl:input message="tns:GetFileSizeHttpPostIn" />
      <wsdl:output message="tns:GetFileSizeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传文件</wsdl:documentation>
      <wsdl:input message="tns:UploadFileBybyteHttpPostIn" />
      <wsdl:output message="tns:UploadFileBybyteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">下载文件</wsdl:documentation>
      <wsdl:input message="tns:DownFileHttpPostIn" />
      <wsdl:output message="tns:DownFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除服务器文件</wsdl:documentation>
      <wsdl:input message="tns:DelelteFileByFileNameHttpPostIn" />
      <wsdl:output message="tns:DelelteFileByFileNameHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadSoap" type="tns:UploadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://tempuri.org/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <soap:operation soapAction="http://tempuri.org/UploadFileBybyte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <soap:operation soapAction="http://tempuri.org/DownFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <soap:operation soapAction="http://tempuri.org/DelelteFileByFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadSoap12" type="tns:UploadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileSize">
      <soap12:operation soapAction="http://tempuri.org/GetFileSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <soap12:operation soapAction="http://tempuri.org/UploadFileBybyte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <soap12:operation soapAction="http://tempuri.org/DownFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <soap12:operation soapAction="http://tempuri.org/DelelteFileByFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadHttpGet" type="tns:UploadHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetFileSize">
      <http:operation location="/GetFileSize" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <http:operation location="/UploadFileBybyte" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <http:operation location="/DownFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <http:operation location="/DelelteFileByFileName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadHttpPost" type="tns:UploadHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetFileSize">
      <http:operation location="/GetFileSize" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileBybyte">
      <http:operation location="/UploadFileBybyte" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <http:operation location="/DownFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelelteFileByFileName">
      <http:operation location="/DelelteFileByFileName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Upload">
    <wsdl:port name="UploadSoap" binding="tns:UploadSoap">
      <soap:address location="http://192.168.20.34:8090/Upload.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadSoap12" binding="tns:UploadSoap12">
      <soap12:address location="http://192.168.20.34:8090/Upload.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadHttpGet" binding="tns:UploadHttpGet">
      <http:address location="http://192.168.20.34:8090/Upload.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadHttpPost" binding="tns:UploadHttpPost">
      <http:address location="http://192.168.20.34:8090/Upload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>