PokeIn/PokeIn_Free_v2.032/PokeIn_Free_v2.032/WCF Message Push/PokeIn WCF Sample/Web References/localhost/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientWCF_Control" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientWCF_Control" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPokeInWCF.MessageFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PokeInWCF.MessageFormat" nillable="true" type="tns:PokeInWCF.MessageFormat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPokeInWCF.MessageFormat" nillable="true" type="tns:ArrayOfPokeInWCF.MessageFormat" />
  <xs:complexType name="PokeInWCF.MessageFormat">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Clients" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PokeInWCF.MessageFormat" nillable="true" type="tns:PokeInWCF.MessageFormat" />
</xs:schema>