PokeIn/PokeIn_Free_v2.032/PokeIn_Free_v2.032/WCF Message Push/PokeIn WCF Sample/Web References/localhost/PokeInWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PokeInWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClientWCF_Control" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PokeInWCF_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_AddClients_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClients" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_AddClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientsResponse" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_RemoveClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClient" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_RemoveClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClientResponse" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_PingMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:PingMessages" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_PingMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_PingAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:PingAlive" />
  </wsdl:message>
  <wsdl:message name="PokeInWCF_PingAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="PokeInWCF">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/PokeInWCF/AddClient" message="tns:PokeInWCF_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PokeInWCF/AddClientResponse" message="tns:PokeInWCF_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClients">
      <wsdl:input wsaw:Action="http://tempuri.org/PokeInWCF/AddClients" message="tns:PokeInWCF_AddClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PokeInWCF/AddClientsResponse" message="tns:PokeInWCF_AddClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveClient">
      <wsdl:input wsaw:Action="http://tempuri.org/PokeInWCF/RemoveClient" message="tns:PokeInWCF_RemoveClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PokeInWCF/RemoveClientResponse" message="tns:PokeInWCF_RemoveClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/PokeInWCF/PingMessages" message="tns:PokeInWCF_PingMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PokeInWCF/PingMessagesResponse" message="tns:PokeInWCF_PingMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/PokeInWCF/PingAlive" message="tns:PokeInWCF_PingAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PokeInWCF/PingAliveResponse" message="tns:PokeInWCF_PingAlive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PokeInWCF" type="tns:PokeInWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/PokeInWCF/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClients">
      <soap:operation soapAction="http://tempuri.org/PokeInWCF/AddClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveClient">
      <soap:operation soapAction="http://tempuri.org/PokeInWCF/RemoveClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingMessages">
      <soap:operation soapAction="http://tempuri.org/PokeInWCF/PingMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingAlive">
      <soap:operation soapAction="http://tempuri.org/PokeInWCF/PingAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PokeInWCF">
    <wsdl:port name="BasicHttpBinding_PokeInWCF" binding="tns:BasicHttpBinding_PokeInWCF">
      <soap:address location="http://localhost:8090/PokeInWCF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>